/* Styles for Mobile Site */
body {
    font-family:'Poppins', sans-serif;
    color: #2e3159;
    background-color: #F4F0F7;
    margin: 0;
    padding: 0;
   
}
/* Header & Hero */
 header {
    background-color: #fce5ef;
    text-align:center;
    padding:20px;
 }
 header h1 {
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
 }

 #hero {
    background-color: #8b5588;
    padding: 50px;
    text-align:center;
 }
#hero img{
    width:100%;
    height: auto;
    border-radius:8px;
}
.hero-text p{
    font-size: 1.2em;
}

/* Services */
#Services {
    background-color: #fce5ef;
    padding:20px;
    text-align: center;
}
.services {
    background-color: #7468b1;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
}
.services img {
    width:100%;
    height: auto;
    border-radius: 8px;
}
.services h3 {
    font-family: 'Playfair Display', serif;
    margin-top:10px;
}
/* Products */
#Products {
    background-color: #fce5ef;
    padding: 20px;
    text-align: center;
}
.Products {
    background-color: #abaedb;
    margin:15px;
    padding: 20px;
    border-radius:8px;
}
.Products img {
      width:100%;
      height: auto;
      border-radius: 8px;
}
.Products h3 {
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
}

/* Reviews */
#reviews{
    background-color: #8b5588;
    padding: 20px;
    border-radius:8px;
}
.review {
    background-color: #fce5ef;
    margin:15px;
    padding: 15px;
    border-radius:8px;
}
.review .name {
    font-weight:bold;
}
.review .title{
    font-style: italic;
    font-family:'Playfair Display', serif;
}
.review .rating {
    font-size: 1.2em;
}

/* Footer */
 footer {
    background-color: #fce5ef;
    text-align: center;
    padding:10px;
    font-size:0.9em;
 }


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */
    #hero{
        padding:100px;
    }

    /* Services */
    #Services {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding:40px;
    }

    .service{ 
        width:30%;
    }

    /*Products */
    #Products { 
        display: flex;
        justify-content: space-around;
        align-items:center;
        padding: 40px;
    }
    .Products {
        width:30%;
    }

    /* Reviews */
     #reviews {
        display: flex;
        justify-content: space-around;
        padding: 40px;
     }
     .review {
        width: 30%;
     }

    /* Footer */
    footer {
        padding:20px;
    }

}